@import '~bootstrap/scss/bootstrap';

//font stacks
@font-face {
	font-family: 'DolceVitaLight';
	src: url('../fonts/dolce_vita/Dolce-Vita-Light.woff') format('woff'),
		url('../fonts/dolce_vita/Dolce-Vita-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'DolceVita';
	src: url('../fonts/dolce_vita/Dolce-Vita.woff') format('woff'),
		url('../fonts/dolce_vita/Dolce-Vita.ttf') format('truetype');
}

@font-face {
	font-family: 'DolceVitaBold';
	src: url('../fonts/dolce_vita/Dolce-Vita-Heavy-Bold.woff') format('woff'),
		url('../fonts/dolce_vita/Dolce-Vita-Heavy-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Jacob_and_Son_Regular';
	src: url('../fonts/jacob_and_son/Jacob-and-son.woff') format('woff'),
		url('../fonts/jacob_and_son/Jacob-and-son.woff2') format('woff2'),
		url('../fonts/jacob_and_son/Jacob-and-son.ttf') format('truetype');
	font-weight: regular;
	font-style: normal;
}

// variables

$primary-color: #c9ad75;
$primary-color-dark: #7b5d20;

/* ============================================= */
/*         Descriptive colors                    */
/* ============================================= */

$white: rgb(255, 255, 255);
$guardsman-red: #d00005;
$cyan: rgb(0, 232, 249);
$aqua: rgba(0, 249, 249, 0.578);
$black-lighter: rgba(0, 0, 0, 0.5);

//awesomeCo logo

$awesomeco-logo-main-path-color: $white;
$awesomeco-logo-main-fill: $guardsman-red;
$projects-BG-color: $aqua;
$projects-BG-mobile-color: $cyan;

//fonts

$font-primary-reg: 'DolceVita', sans-serif;
$font-primary-thin: 'DolceVitaLight', sans-serif;
$font-primary-bold: 'DolceVitaBold', sans-serif;
$font-secondary: 'Jacob_and_Son_Regular', sans-serif;

//media queries

@mixin for-size($size) {
	@if $size == phone-only {
		@media (max-width: 575px) {
			@content;
		}
	} @else if $size == tablet-portrait {
		@media (min-width: 576px) {
			@content;
		}
	} @else if $size == tablet-landscape {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $size == desktop {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $size == lg-desktop {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $size == xlg-desktop {
		@media (min-width: 1600px) {
			@content;
		}
	} @else if $size == xxlg-desktop {
		@media (min-width: 2200px) {
			@content;
		}
	}
}

//animations

#hero-bg {
	stroke-dasharray: 200px;
}

//base

#root,
html {
	background-color: black;
}

.left-links {
	display: flex;
	flex-direction: row;
	position: absolute;
}

.dropcap {
	color: $primary-color-dark;
	font-size: 6rem;
	margin-right: -16px;
	@include for-size(lg-desktop) {
		font-size: 8rem;
	}
	@include for-size(xlg-desktop) {
		font-size: 9rem;
	}
}

.about-copy-title {
	font-size: 2.5rem;
	margin-bottom: 20px;
	line-height: 50px;
	@include for-size(tablet-landscape) {
		font-size: 3.2rem;
	}
	@include for-size(desktop) {
		font-size: 4rem;
	}
	@include for-size(lg-desktop) {
		font-size: 4.8rem;
		line-height: 65px;
		padding-left: 50px;
	}
	@include for-size(xlg-desktop) {
		font-size: 5.5rem;
		line-height: 75px;
	}
}

.about-copy-1,
.about-copy-2 {
	font-size: 1.1rem;
	@include for-size(lg-desktop) {
		font-size: 1.6rem;
		padding-left: 50px;
	}
	@include for-size(xlg-desktop) {
		font-size: 1.8rem;
	}
}

.hero-link,
.left-links span,
.title-primary,
#navigation-link,
.left-links-content span {
	font-family: $font-primary-reg;
}

.copy-primary {
	font-family: $font-secondary;
}

//side-nav left
@media (max-width: 575px) {
	.left-links {
		top: 585px;
		left: 50px;
	}
}

@media (min-width: 576px) {
	.left-links {
		top: 703px;
		left: 50px;
	}
}

@media (min-width: 768px) {
	.left-links {
		top: 640px;
		height: 40px;
		left: 25px;
	}
}

@media (min-width: 992px) {
	.left-links {
		top: 700px;
	}
}

@media (min-width: 1200px) {
	.left-links {
		top: 900px;
	}
}

@media (min-width: 1600px) {
	.left-links {
		transform: rotate(-90deg);
		top: 695px;
		left: -87px;
		height: 50px;
		width: 300px;
	}
}

.left-links span {
	padding: 0;
	font-size: 16px;
	color: $primary-color;
	@include for-size(tablet-landscape) {
		font-size: 22px;
		padding: 8px 0 8px 0px;
	}
}

#copyrightSVG {
	height: 23px;
	width: 20px;
	padding-right: 5px;
	padding-top: 0;
	@include for-size(tablet-landscape) {
		height: 40px;
		width: 40px;
		padding-right: 8px;
	}
}

#copyright {
	fill: $primary-color;
}

//side-nav right (home page)

.logo-small {
	display: none;
	@include for-size(tablet-landscape) {
		display: flex;
		height: 90px;
		width: 90px;
		position: absolute;
		top: 645px;
		right: 10px;
	}
	@include for-size(desktop) {
		top: 705px;
		right: 10px;
	}
	@include for-size(lg-desktop) {
		top: 910px;
		bottom: 0;
	}
	@include for-size(xlg-desktop) {
		top: 540px;
		bottom: 0;
	}
}

.right-links {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 510px;
	left: 10px;
	transform: rotate(-90deg);
	@include for-size(tablet-portrait) {
		top: 625px;
	}
	@include for-size(tablet-landscape) {
		top: 680px;
		transform: rotate(0deg);
		left: 23px;
	}
	@include for-size(desktop) {
		top: 740px;
	}
	@include for-size(lg-desktop) {
		top: 940px;
	}
	@include for-size(xlg-desktop) {
		transform: rotate(-90deg);
		top: 460px;
		left: 0px;
	}
}

.social-links {
	height: 35px;
	width: 35px;
	padding-right: 8px;
	fill: $primary-color;
	@include for-size(tablet-landscape) {
		padding: 5px 5px 5px 0;
		height: 40px;
		width: 40px;
	}
	@include for-size(xlg-landscape) {
		padding: 10px 10px 0;
		height: 60px;
		width: 60px;
	}
}

.cls-1 {
	fill: $primary-color;
	stroke-width: 0.75px;
}
.cls-1,
.cls-2 {
	stroke: $primary-color;
	stroke-linejoin: round;
}
.cls-2 {
	fill: none;
}

//navigation

#navigation-logo,
#navigation-link {
	color: $primary-color;
}

#navigation-link {
	font-size: 1.6rem;
}

#navigation-bar {
	background-color: black;
	border-bottom: 2px solid $primary-color;
}

.navbar-light .navbar-toggler-icon {
	background-image: url('../assets/list.svg') !important;
}
.nav-logo {
	width: 200px;
	height: 40px;
	@include for-size(lg-desktop) {
		width: 275px;
		height: 60px;
	}
}
// home content

.home-bg-img {
	background-image: url('../assets/bg-img2.svg');
	background-color: #000000;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover !important;
	@include for-size(tablet-portrait) {
		margin-top: 50px;
	}

	@include for-size(lg-desktop) {
		margin-top: 70px;
	}
	@include for-size(xlg-desktop) {
		margin-top: 100px;
	}
	@include for-size(xlg-desktop) {
		background-size: 100% 768px;
	}
}

//home links

.hero-wrapper {
	max-width: inherit;
	@include for-size(desktop) {
	}
	@include for-size(lg-desktop) {
	}
	@include for-size(xlg-desktop) {
	}
	@include for-size(xxlg-desktop) {
		max-width: 1400px !important;
	}
}

.hero-link-container {
	display: flex;
	flex-direction: column;
	height: 550px;
	@include for-size(tablet-portrait) {
		display: flex;
		flex-direction: column;
		height: 620px;
	}
	@include for-size(tablet-landscape) {
		height: 500px;
	}
	@include for-size(desktop) {
		height: 550px;
	}
	@include for-size(lg-desktop) {
		height: 725px;
		padding-left: 45px;
	}
	@include for-size(xlg-desktop) {
		height: 680px;
	}
	@include for-size(xxlg-desktop) {
		height: 810px;
		width: fit-content;
	}
}

.hero-link {
	font-size: 4.5rem;
	text-decoration: none;
	line-height: 50px;
	@include for-size(tablet-portrait) {
		font-size: 6rem;
		line-height: 66px;
	}

	@include for-size(tablet-landscape) {
		font-size: 7rem;
		line-height: 82px;
		display: flex;
	}

	@include for-size(desktop) {
		font-size: 8.2rem;
		line-height: 90px;
	}

	@include for-size(lg-desktop) {
		font-size: 10rem;
		line-height: 112px;
	}
	@include for-size(xxlg-desktop) {
		font-size: 13rem;
		line-height: 145px;
	}
}

.hero-link:first-child {
	margin-top: 170px;
	letter-spacing: -1.5px;
	margin-right: 10px;
	@include for-size(tablet-landscape) {
		margin-right: 315px;
		margin-top: 100px;
	}

	@include for-size(desktop) {
		padding-left: 126px;
		margin-top: 100px;
		letter-spacing: -1.5px;
	}

	@include for-size(lg-desktop) {
		margin-right: inherit;
		margin-top: 100px;
		letter-spacing: -1.5px;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 146px;
		margin-top: 85px;
		letter-spacing: -9.5px;
	}
}

.hero-link:nth-child(2) {
	padding-right: 30px;
	color: yellow;
	letter-spacing: -3px;
	&:hover {
		text-decoration: none;
		color: rgb(245, 245, 155);
	}
	@include for-size(desktop) {
		padding-left: 122px;
		letter-spacing: -2.8px;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 139px;
		letter-spacing: -14px;
	}
}
.hero-link:nth-child(3) {
	padding-right: 25px;
	letter-spacing: -0.85px;
	@include for-size(desktop) {
		padding-left: 121px;
		letter-spacing: 0;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 138px;
		letter-spacing: -6px;
	}
}

.hero-link:last-child {
	padding-right: 43px;
	letter-spacing: -8.5px;
	@include for-size(desktop) {
		padding-left: 33px;
		letter-spacing: -9.5px;
	}
	@include for-size(lg-desktop) {
		padding-left: 25px;
		letter-spacing: -13.5px;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 0px;
		letter-spacing: -20.5px;
	}
}

.hero-link:first-child,
.hero-link:nth-child(3),
.hero-link:last-child {
	color: white;
}

.hero-link:first-child:hover,
.hero-link:nth-child(2):hover,
.hero-link:nth-child(3):hover,
.hero-link:last-child:hover {
	&:hover {
		text-decoration: none;
		color: $primary-color;
	}
}

//quote

// .quote-container {
// 	display: none;

// 	@include for-size(lg-desktop) {
// 		display: flex;
// 		font-size: 20px;
// 		color: white;
// 		border: 4px solid red;
// 		position: absolute;
// 		right: 5%;
// 		top: 475px;
// 		width: 300px;
// 		height: 100px;
// 	}
// 	@include for-size(xxlg-desktop) {
// 	}
// }

//about styles

.about-header-bg {
	background: url(../assets/about-header.svg) no-repeat !important;
	background-size: 500px 120px !important;
	height: 110px;
	margin-top: 50px;
	@include for-size(tablet-landscape) {
		display: none;
	}
}

.about-title-svg {
	width: 200px;
	margin-bottom: 40px;
	margin-top: -10px;
	@include for-size(tablet-landscape) {
		margin-bottom: -80px;
		width: 140px;
		margin-top: 0px;
	}
}
.copy-primary,
.title-primary {
	color: white;
}
.about-copy-wrapper {
	@include for-size(tablet-landscape) {
		margin-top: 150px;
	}
}
.about-copy-container {
	max-width: 400px;
	@include for-size(lg-desktop) {
		max-width: 580px;
	}
	@include for-size(xlg-desktop) {
		max-width: 600px;
	}
}

.about-title {
	margin-top: 50px;
	@include for-size(tablet-landscape) {
		margin-top: 0px;
	}
	@include for-size(lg-desktop) {
		padding-left: 50px;
	}
}
.about-copy-1 {
	margin-top: 20px;
	margin-bottom: 20px;
	@include for-size(desktop) {
		margin-top: 50px;
	}
}
.about-copy-2 {
	margin-top: 0px;
}

.about-copy-title {
	margin-bottom: 0px;
	@include for-size(desktop) {
		margin-top: 50px;
	}
}
.about-photo-mobile {
	margin-bottom: 40px;
	max-width: 440px;
	@include for-size(tablet-landscape) {
		display: none;
	}
}

.about-bg {
	@include for-size(tablet-landscape) {
		background-image: url('../assets/about-bg-2.svg');
		background-color: #000000;
		width: 100vw;
		height: 580px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		display: flex;
	}
	@include for-size(desktop) {
		height: 700px;
	}
	@include for-size(lg-desktop) {
		height: 800px;
	}
	@include for-size(xlg-desktop) {
		height: 900px;
	}
}

//design styles

.design-header-bg {
	background: url(../assets/design-header.svg) no-repeat !important;
	background-size: 500px 120px !important;
	height: 110px;
	margin-top: 50px;
	@include for-size(tablet-landscape) {
		display: none;
	}
}

.design-title-svg {
	width: 200px;
	margin-bottom: 40px;
	margin-top: -10px;
	@include for-size(tablet-landscape) {
		margin-bottom: -80px;
		width: 140px;
		margin-top: 0px;
	}
}

.design-title {
	margin-top: 50px;
	@include for-size(tablet-landscape) {
		margin-top: 0px;
	}
	@include for-size(lg-desktop) {
		padding-left: 50px;
	}
}

//side-nav right (content page)

.logo-small-content {
	display: none;
	@include for-size(tablet-landscape) {
		display: flex;
		height: 90px;
		width: 90px;
		position: absolute;
		top: 675px;
		right: 10px;
	}
	@include for-size(desktop) {
		top: 815px;
		right: 5vw;
	}
	@include for-size(lg-desktop) {
		top: 945px;
	}
	@include for-size(xlg-desktop) {
		top: 540px;
		right: 1vw;
	}
}

.right-links-content-page {
	display: block;
	flex-direction: row;
	@include for-size(tablet-landscape) {
		display: flex;
		position: absolute;
		top: 680px;
		transform: rotate(0deg);
		left: 50px;
	}
	@include for-size(desktop) {
		top: 810px;
	}
	@include for-size(lg-desktop) {
		top: 940px;
		left: 100px;
	}
	@include for-size(xlg-desktop) {
		top: 510px;
		left: 10px;
		transform: rotate(-90deg);
		top: 460px;
		left: 0px;
	}
}

.social-links-content-page {
	height: 35px;
	width: 35px;
	padding-right: 8px;
	fill: $primary-color;
	@include for-size(tablet-landscape) {
		padding: 5px 5px 5px 0;
		height: 40px;
		width: 40px;
	}
	@include for-size(xlg-landscape) {
		padding: 10px 10px 0;
		height: 60px;
		width: 60px;
	}
}

//side-nav left (content pages)
.left-links-content {
	margin-top: 80px;
}

@media (min-width: 768px) {
	.left-links-content {
		display: flex;
		flex-direction: row;
		position: absolute;
		top: 640px;
		height: 40px;
		left: 50px;
	}
}

@media (min-width: 992px) {
	.left-links-content {
		top: 770px;
	}
}

@media (min-width: 1200px) {
	.left-links-content {
		top: 900px;
		left: 100px;
	}
}

@media (min-width: 1600px) {
	.left-links-content {
		transform: rotate(-90deg);
		top: 650px;
		left: -87px;
		height: 50px;
		width: 300px;
	}
}

.left-links-content span {
	padding: 0;
	font-size: 16px;
	color: $primary-color;
	@include for-size(tablet-landscape) {
		font-size: 22px;
		padding: 8px 0 8px 0px;
	}
}

#copyrightContent {
	fill: $primary-color;
}

#copyrightSVGContent {
	height: 23px;
	width: 20px;
	padding-right: 5px;
	padding-top: 0;
	@include for-size(tablet-landscape) {
		height: 40px;
		width: 40px;
		padding-right: 8px;
	}
}
//footer styles

.footer {
	background-color: $primary-color;
	border-top: 1px solid #e7e7e7;
	text-align: center;
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 10px;
	width: 100%;
}

.phantom {
	display: block;
	padding: 10px;
	height: 10px;
	width: 100%;
}

// ==========================================================================
// Projects Section Styles
// ==========================================================================

//looped videos for project examples
.gif {
	border: 1px solid white;
	border-radius: 5px;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.872), #000);
	width: 350px;
	// max-width: 100%;
	height: 300px;
	@include for-size(tablet-landscape) {
		width: 500px;
	}
}

.gif-container {
	position: relative;
	@include for-size(desktop) {
		padding-right: 80px;
	}
}

/* ============================================= */
/*          AwesomeCo                            */
/* ============================================= */

#logo {
	height: 150px;
	width: 350px;
}

#logoFill {
	fill: $awesomeco-logo-main-fill;
	stroke: $awesomeco-logo-main-fill;
}

.logo-stroke {
	stroke: $awesomeco-logo-main-path-color;
	stroke-width: 1;
	fill: $awesomeco-logo-main-path-color;
}

#awesomeCoCopy {
	color: $white;
}

/* ============================================= */
/*         overlay                          */
/* ============================================= */

.overlay {
	position: absolute;
	bottom: 100%;
	right: 0;
	background-color: $black-lighter;
	overflow: hidden;
	width: 100%;
	height: 0%;
	transition: 0.6s ease;

	@include for-size(desktop) {
		left: -30px;
		margin-left: 5%;
		width: 505px;
	}
}

.hov:hover .overlay {
	bottom: 0;
	height: 100%;
	margin-bottom: 5px;
}

/* ============================================= */
/*         overlay link styles                   */
/* ============================================= */

.linkHR {
	border: 0;
	clear: both;
	display: block;
	height: 25px;
	width: 2px;
	margin: 9px 10px;
}

.link-container {
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}
