@import '~bootstrap/scss/bootstrap';

//font stacks
@font-face {
	font-family: 'DolceVitaLight';
	src: url('../fonts/dolce_vita/Dolce-Vita-Light.woff') format('woff'),
		url('../fonts/dolce_vita/Dolce-Vita-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'DolceVita';
	src: url('../fonts/dolce_vita/Dolce-Vita.woff') format('woff'),
		url('../fonts/dolce_vita/Dolce-Vita.ttf') format('truetype');
}

@font-face {
	font-family: 'DolceVitaBold';
	src: url('../fonts/dolce_vita/Dolce-Vita-Heavy-Bold.woff') format('woff'),
		url('../fonts/dolce_vita/Dolce-Vita-Heavy-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Jacob_and_Son_Regular';
	src: url('../fonts/jacob_and_son/Jacob-and-son.woff') format('woff'),
		url('../fonts/jacob_and_son/Jacob-and-son.woff2') format('woff2'),
		url('../fonts/jacob_and_son/Jacob-and-son.ttf') format('truetype');
	font-weight: regular;
	font-style: normal;
}

@font-face {
	font-family: 'Fira_Code';
	src: url('../fonts/fira_code/FiraCode-Regular.woff2') format('woff2'),
		url('../fonts/fira_code/FiraCode-Regular.woff') format('woff'),
		url('../fonts/fira_code/FiraCode-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Hebo_Regular';
	src: url('../fonts/heebo/Heebo-Regular.woff2') format('woff2'),
		url('../fonts/heebo/Heebo-Regular.woff') format('woff'),
		url('../fonts/heebo/Heebo-Regular.ttf') format('truetype');
	font-weight: 400;
}

// variables

$primary-color: #c9ad75;
$primary-color-dark: #b08c43;
$secondary-color: #75bbc9;

/* ============================================= */
/*         Descriptive colors                    */
/* ============================================= */

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$mine-shaft: #131313;
$guardsman-red: #d00005;
$cyan: rgb(0, 232, 249);
$aqua: rgba(0, 249, 249, 0.578);
$black-lighter: rgba(0, 0, 0, 0.5);
$supernova: #ffc600;
$sunset-orange: #f74646;
$flush-mahogany: #cd3a3a;
$concrete: #f2f2f2;

//awesomeCo logo

$awesomeco-logo-main-path-color: $white;
$awesomeco-logo-main-fill: $guardsman-red;
$projects-BG-color: $primary-color-dark;

//drumspace logo
$drumspace-logo-main-color: $supernova;

//drumspace logo
$circles-logo-primary: $sunset-orange;
$circles-logo-primary-darker: $flush-mahogany;

//fonts

$font-primary-reg: 'DolceVita', sans-serif;
$font-primary-thin: 'DolceVitaLight', sans-serif;
$font-primary-bold: 'DolceVitaBold', sans-serif;
$font-secondary: 'Jacob_and_Son_Regular', sans-serif;
$hsf-font-primary: 'Fira_Code', sans-serif;
$hsf-font-secondary: 'Hebo_Regular', sans-serif;

//media queries

@mixin for-size($size) {
	@if $size == phone-only {
		@media (max-width: 575px) {
			@content;
		}
	} @else if $size == tablet-portrait {
		@media (min-width: 576px) {
			@content;
		}
	} @else if $size == tablet-landscape {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $size == desktop {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $size == lg-desktop {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $size == lg-desktop-wide {
		@media (min-width: 1400px) {
			@content;
		}
	} @else if $size == xlg-desktop {
		@media (min-width: 1600px) {
			@content;
		}
	} @else if $size == xxlg-desktop {
		@media (min-width: 2200px) {
			@content;
		}
	}
}

/* ============================================= */
/*         Keyframes                             */
/* ============================================= */

@keyframes slidein {
	from {
	  opacity: 0;
	  letter-spacing: -50px;
	}
  
	to {
	  opacity: 1;
	  letter-spacing: 0;
	}
  }

  @keyframes slideintwo {
	from {
	  opacity: 0;
	  letter-spacing: -75px;
	}
  
	to {
	  opacity: 1;
	  letter-spacing: 0;
	}
  }


  @keyframes fade {
	from {
	  opacity: 0;
	}
  
	to {
	  opacity: 1;
	}
  }



/* ============================================= */
/*         Typography                            */
/* ============================================= */

//awesomeCo logo
.logo-stroke {
	stroke: $awesomeco-logo-main-path-color;
	stroke-width: 1;
	fill: $awesomeco-logo-main-path-color;
}

//drumSpace logo
#drumSpaceLogo path {
	stroke: $drumspace-logo-main-color;
	stroke-width: 0.25;
	fill: $drumspace-logo-main-color;
}

//dynamic logo
.dynamic-1 {
	fill: #005da1;
}
.dynamic-2 {
	fill: #00417e;
}
.dynamic-3 {
	fill: #002e58;
}
.dynamic-4 {
	fill: #00213f;
}
.dynamic-5,
.cls-8 {
	fill: #31b5ff;
}
.dynamic-6 {
	fill: #0092f3;
}
.dynamic-7 {
	fill: none;
	stroke: #fff;
	stroke-width: 0.6px;
}
.dynamic-7,
.cls-8 {
	stroke-miterlimit: 10;
}
.dynamic-8 {
	stroke: #31b5ff;
	stroke-width: 0.6px;
}

//circles logo

.circles-Logo-Font {
	fill: $circles-logo-primary;
	stroke: $circles-logo-primary-darker;
}
.circles-cls-4 {
	fill: none;
	stroke: #565656;
	stroke-width: 3px;
	stroke-miterlimit: 10;
}

//fsc2020 logo
.fsc2020-1,
.fsc2020-2 {
	fill: #fff;
}
.fsc2020-2,
.fsc2020-3 {
	stroke: #cfd1d2;
}
.fsc2020-2,
.fsc2020-3,
.fsc2020-4,
.fsc2020-5,
.fsc2020-6,
.fsc2020-8,
.fsc2020-9 {
	stroke-miterlimit: 10;
}
.fsc2020-3,
.fsc2020-4,
.fsc2020-5,
.fsc2020-6,
.fsc2020-8,
.fsc2020-9 {
	fill: none;
}
.fsc2020-3 {
	stroke-width: 0.75px;
}
.fsc2020-4 {
	stroke: #4ad5ed;
}
.fsc2020-4,
.fsc2020-5,
.fsc2020-6 {
	stroke-width: 4px;
}
.fsc2020-5 {
	stroke: #4aed99;
}
.fsc2020-6,
.fsc2020-8 {
	stroke: #ed4865;
}
.fsc2020-7 {
	fill: #4ad5ed;
}
.fsc2020-8,
.fsc2020-9 {
	stroke-width: 0.5px;
}
.fsc2020-9 {
	stroke: #221f1f;
}

//work base colors

.work-heading {
	color: $white;
	@include for-size(desktop) {
		font-size: 28px;
	}
}

.work-link {
	color: $white;
	text-decoration: none;
}

.work-link:hover {
	color: $white;
	text-decoration: none;
}

//animations

#hero-bg {
	stroke-dasharray: 200px;
}

//base

#root,
html {
	background-color: $mine-shaft;
}

#layoutContainer {
	padding: 0;
}
.btns {
	background-color: transparent;
	font-family: $font-primary-bold;
	border: 2px solid $primary-color;
	color: $white;
	width: 100%;
	height: 45px;
	margin-top: 10px;
	@include for-size(desktop) {
		height: 35px;
		margin-top: 5px;
	}
	@include for-size(lg-desktop) {
		height: 45px;
		margin-top: 10px;
	}
}

.btns:focus {
	outline: none !important;
}

.btns:hover {
	background-color: $primary-color;
	transition: all 0.5s ease-in-out;
}

.left-links {
	display: flex;
	flex-direction: row;
	position: absolute;
}

.dropcap {
	color: $primary-color-dark;
	font-size: 6rem;
	margin-right: -16px;
	@include for-size(tablet-landscape) {
		font-size: 5rem;
	}
	@include for-size(lg-desktop) {
		font-size: 8rem;
	}
	@include for-size(xlg-desktop) {
		font-size: 9rem;
	}
}

.about-copy-title {
	font-size: 2.5rem;
	margin-bottom: 20px;
	line-height: 50px;
	@include for-size(tablet-landscape) {
		font-size: 2rem;
	}
	@include for-size(desktop) {
		font-size: 4rem;
	}
	@include for-size(lg-desktop) {
		font-size: 4.8rem;
		line-height: 65px;
		padding-left: 50px;
	}
	@include for-size(xlg-desktop) {
		font-size: 5.5rem;
		line-height: 75px;
	}
}

.about-copy-1,
.about-copy-2 {
	font-size: 1.1rem;
	@include for-size(lg-desktop) {
		font-size: 1.6rem;
		padding-left: 50px;
	}
	@include for-size(xlg-desktop) {
		font-size: 1.8rem;
	}
}

.project-copy {
	font-size: 1.3rem;
	line-height: 25px;
}

.hero-link,
.left-links span,
.title-primary,
#navigation-link,
.left-links-content span,
.sub-heading,
.work-heading,
.hsf-hero-title,
.info-heading,
.work-title {
	font-family: $font-primary-reg;
}

.copy-primary,
.project-copy,
.hsf-hero-copy,
.info-item,
.work-copy {
	font-family: $font-secondary;
}

.fira-code {
	font-family: $hsf-font-primary;
}

.heebo {
	font-family: $hsf-font-secondary;
}

.typography-headline {
	font-size: 2.4rem;
	line-height: 45px;
	@include for-size(desktop) {
		line-height: 54px;
		padding-left: 40px;
		font-size: 3rem;
	}
}
.typography-body {
	font-size: 1rem;
	margin-top: 20px;
	@include for-size(desktop) {
		padding-left: 40px;
		font-size: 1.2rem;
	}
}

#badgeFont {
	font-family: $font-primary-bold;
	border: 4px solid $primary-color;
	border-radius: 0 !important;
	color: $white;
	@include for-size(desktop) {
		font-size: 16px;
	}
	@include for-size(lg-desktop) {
		font-size: 20px;
	}
}

//side-nav left
@media (max-width: 575px) {
	.left-links {
		top: 585px;
		left: 50px;
	}
}

@media (min-width: 576px) {
	.left-links {
		top: 703px;
		left: 50px;
	}
}

@media (min-width: 768px) {
	.left-links {
		top: 640px;
		height: 40px;
		left: 25px;
	}
}

@media (min-width: 992px) {
	.left-links {
		top: 700px;
	}
}

@media (min-width: 1200px) {
	.left-links {
		top: 900px;
	}
}

@media (min-width: 1600px) {
	.left-links {
		transform: rotate(-90deg);
		top: 650px;
		left: -87px;
		height: 50px;
		width: 300px;
	}
}

.left-links span {
	padding: 0;
	font-size: 16px;
	color: $primary-color;
	@include for-size(tablet-landscape) {
		font-size: 22px;
		padding: 8px 0 8px 0px;
	}
}

#copyrightSVG {
	height: 23px;
	width: 20px;
	padding-right: 5px;
	padding-top: 0;
	@include for-size(tablet-landscape) {
		height: 40px;
		width: 40px;
		padding-right: 8px;
	}
}

#copyright {
	fill: $primary-color;
}

//side-nav right (home page)

.logo-small {
	display: none;
	@include for-size(tablet-landscape) {
		display: flex;
		height: 90px;
		width: 90px;
		position: absolute;
		top: 645px;
		right: 10px;
	}
	@include for-size(desktop) {
		top: 705px;
		right: 10px;
	}
	@include for-size(lg-desktop) {
		top: 910px;
		bottom: 0;
	}
	@include for-size(xlg-desktop) {
		top: 540px;
		bottom: 0;
	}
}

.right-links {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 510px;
	left: 10px;
	transform: rotate(-90deg);
	@include for-size(tablet-portrait) {
		top: 625px;
	}
	@include for-size(tablet-landscape) {
		top: 680px;
		transform: rotate(0deg);
		left: 23px;
	}
	@include for-size(desktop) {
		top: 740px;
	}
	@include for-size(lg-desktop) {
		top: 940px;
	}
	@include for-size(xlg-desktop) {
		transform: rotate(-90deg);
		top: 460px;
		left: 0px;
	}
}

.social-links {
	height: 35px;
	width: 35px;
	padding-right: 8px;
	fill: $primary-color;
	@include for-size(tablet-landscape) {
		padding: 5px 5px 5px 0;
		height: 40px;
		width: 40px;
	}
	@include for-size(xlg-landscape) {
		padding: 10px 10px 0;
		height: 60px;
		width: 60px;
	}
}

.cls-1 {
	fill: $primary-color;
	stroke-width: 0.75px;
}
.cls-1,
.cls-2 {
	stroke: $primary-color;
	stroke-linejoin: round;
}
.cls-2 {
	fill: none;
}

//navigation

#navigation-logo,
#navigation-link {
	color: $primary-color;
}

#navigation-link {
	font-size: 1.6rem;
}

#navigation-bar {
	background-color: $mine-shaft;
	border-bottom: 2px solid $primary-color;
}

.navbar-light .navbar-toggler-icon {
	background-image: url('../assets/list.svg') !important;
}
.nav-logo {
	width: 200px;
	height: 40px;
	@include for-size(lg-desktop) {
		width: 275px;
		height: 60px;
	}
}
// home content

.home-bg-img {
	background-image: url('../assets/bg-img2.svg');
	background-color: $mine-shaft;
	width: 100vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover !important;
	@include for-size(tablet-portrait) {
		margin-top: 50px;
	}

	@include for-size(lg-desktop) {
		margin-top: 70px;
	}
	@include for-size(xlg-desktop) {
		margin-top: 100px;
	}
	@include for-size(xlg-desktop) {
		background-size: 100% 768px;
	}
}

//home links

.hero-wrapper {
	max-width: inherit;
	@include for-size(desktop) {
	}
	@include for-size(lg-desktop) {
	}
	@include for-size(xlg-desktop) {
	}
	@include for-size(xxlg-desktop) {
		max-width: 1400px !important;
	}
}

.hero-link-container {
	display: flex;
	flex-direction: column;
	height: 550px;
	@include for-size(tablet-portrait) {
		display: flex;
		flex-direction: column;
		height: 620px;
	}
	@include for-size(tablet-landscape) {
		height: 500px;
	}
	@include for-size(desktop) {
		height: 550px;
	}
	@include for-size(lg-desktop) {
		height: 725px;
		padding-left: 45px;
	}
	@include for-size(xlg-desktop) {
		height: 680px;
	}
	@include for-size(xxlg-desktop) {
		height: 810px;
		width: fit-content;
	}
}

.hero-link {
	font-size: 4.5rem;
	text-decoration: none;
	line-height: 50px;
	@include for-size(tablet-portrait) {
		font-size: 6rem;
		line-height: 66px;
	}

	@include for-size(tablet-landscape) {
		font-size: 7rem;
		line-height: 82px;
		display: flex;
	}

	@include for-size(desktop) {
		font-size: 8.2rem;
		line-height: 90px;
	}

	@include for-size(lg-desktop) {
		font-size: 10rem;
		line-height: 112px;
	}
	@include for-size(xxlg-desktop) {
		font-size: 13rem;
		line-height: 145px;
	}
}

.hero-link:first-child {
	margin-top: 170px;
	letter-spacing: -1.5px;
	margin-right: 10px;
	@include for-size(tablet-landscape) {
		margin-right: 315px;
		margin-top: 100px;
	}

	@include for-size(desktop) {
		padding-left: 126px;
		margin-top: 100px;
		letter-spacing: -1.5px;
	}

	@include for-size(lg-desktop) {
		margin-right: inherit;
		margin-top: 100px;
		letter-spacing: -1.5px;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 146px;
		margin-top: 85px;
		letter-spacing: -9.5px;
	}
}

.hero-link:nth-child(2) {
	padding-right: 30px;
	color: yellow;
	letter-spacing: -3px;
	&:hover {
		text-decoration: none;
		color: rgb(245, 245, 155);
	}
	@include for-size(desktop) {
		padding-left: 122px;
		letter-spacing: -2.8px;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 139px;
		letter-spacing: -14px;
	}
}
.hero-link:nth-child(3) {
	padding-right: 25px;
	letter-spacing: -0.85px;
	@include for-size(desktop) {
		padding-left: 121px;
		letter-spacing: 0;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 138px;
		letter-spacing: -6px;
	}
}

.hero-link:last-child {
	padding-right: 43px;
	letter-spacing: -8.5px;
	@include for-size(desktop) {
		padding-left: 33px;
		letter-spacing: -9.5px;
	}
	@include for-size(lg-desktop) {
		padding-left: 25px;
		letter-spacing: -13.5px;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 0px;
		letter-spacing: -20.5px;
	}
}

.hero-link:first-child,
.hero-link:nth-child(3),
.hero-link:last-child {
	color: $white;
}

.hero-link:first-child:hover,
.hero-link:nth-child(2):hover,
.hero-link:nth-child(3):hover,
.hero-link:last-child:hover {
	&:hover {
		text-decoration: none;
		color: $primary-color;
	}
}
.slidetwo{
	animation: 1.5s forwards slideintwo;
	opacity: 0;
}

.slidetwo:nth-child(1) { animation-delay: 1s }
.slidetwo:nth-child(2) { animation-delay: 1.3s }
.slidetwo:nth-child(3) { animation-delay: 1.6s }
.slidetwo:nth-child(4) { animation-delay: 2s }

//about styles

.about-header-bg {
	background: url(../assets/about-header.svg) no-repeat !important;
	background-size: 500px 120px !important;
	height: 110px;
	margin-top: 50px;
	@include for-size(tablet-landscape) {
		display: none;
	}
}

.about-title-svg {
	width: 100%;
	margin-bottom: 40px;
	margin-top: 10px;
	@include for-size(desktop) {
		margin-bottom: 40px;
		margin-top: 20px;
	}
}
.copy-primary,
.title-primary {
	color: white;
}

.about-copy-container {
	max-width: 400px;
	@include for-size(tablet-landscape) {
		padding-top: 150px;
		max-width: 350px;
	}
	@include for-size(desktop) {
		max-width: 450px;
		padding-top: 170px;
	}
	@include for-size(lg-desktop) {
		max-width: 550px;
		padding-top: 150px;
	}
	@include for-size(xlg-desktop) {
		max-width: 600px;
	}
}

.about-title {
	margin-top: 50px;
	@include for-size(tablet-landscape) {
		margin-top: 0px;
	}
	@include for-size(lg-desktop) {
		padding-left: 50px;
	}
}
.about-copy-1 {
	margin-top: 20px;
	margin-bottom: 20px;
	@include for-size(desktop) {
		margin-top: 50px;
	}
}
.about-copy-2 {
	margin-top: 0px;
}

.about-copy-title {
	margin-bottom: 0px;
	@include for-size(desktop) {
		margin-top: 50px;
	}
}
.about-photo-mobile {
	margin-bottom: 40px;
	max-width: 440px;
	@include for-size(tablet-landscape) {
		display: none;
	}
}

.about-bg {
	@include for-size(tablet-landscape) {
		background-image: url('../assets/about-bg-2.svg');
		background-color: $mine-shaft;
		width: 100%;
		height: 580px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}
	@include for-size(desktop) {
		height: 700px;
	}
	@include for-size(lg-desktop) {
		height: 800px;
	}
	@include for-size(xlg-desktop) {
		height: 900px;
	}
	@include for-size(xxlg-desktop) {
		width: 100%;
	}
}

//design styles

.design-container {
	position: relative;
}

.design-page-wrapper {
	position: relative;
}

// .design-header-bg {
// 	background: url(../assets/design-header.svg) no-repeat !important;
// 	background-size: 500px 120px !important;
// 	height: 110px;
// 	margin-top: 50px;
// 	@include for-size(tablet-landscape) {
// 		display: none;
// 	}
// }

.design-title-svg {
	width: 100%;
	margin-bottom: 80px;
	margin-top: 10px;
	@include for-size(desktop) {
		margin-bottom: 70px;
		margin-top: 20px;
	}
}

.design-title {
	margin-top: 50px;
	@include for-size(tablet-landscape) {
		margin-top: 0px;
	}
	@include for-size(lg-desktop) {
		padding-left: 50px;
	}
}

//projects

.project-examples {
	display: flex;
	flex-direction: column;
	@include for-size(desktop) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.project-examples:last-child {
	margin-bottom: 200px;
}

// Individual project :before/:after element styles

#awesomeCoCopy::after,
#drumSpaceCopy::after,
#dataAnalyticsCopy::after,
#styleGuideCopy::after,
#fsc2020Copy::after,
#lightBoxCopy::after {
	@include for-size(desktop) {
		content: '';
		position: absolute;
		top: 16%;
		width: 80%;
		height: 79%;
		z-index: 0;
		background: linear-gradient(to right, $projects-BG-color, $mine-shaft, $mine-shaft);
	}
}

#awesomeCoCopy::after,
#drumSpaceCopy::after,
#dataAnalyticsCopy::after {
	-webkit-transform: skew(-14deg);
	-ms-transform: skew(-14deg);
	transform: skew(-14deg);
}

// projects div chevron slanting left
#styleGuideCopy::after,
#fsc2020Copy::after,
#lightBoxCopy::after {
	-webkit-transform: skew(11deg);
	-ms-transform: skew(11deg);
	transform: skew(11deg);
}

#awesomeCoCopy:after {
	left: 410px;
}

#drumSpaceCopy::after {
	left: 240px;
	@include for-size(desktop) {
		left: 300px;
	}
}

#dataAnalyticsCopy::after {
	left: 60px;
	@include for-size(desktop) {
		left: 190px;
	}
}

// projects div chevron slanting right
#styleGuideCopy::after {
	left: 60px;
	@include for-size(desktop) {
		left: 190px;
	}
}

#fsc2020Copy::after {
	left: 240px;
	@include for-size(desktop) {
		left: 300px;
	}
}

#lightBoxCopy::after {
	left: 410px;
	@include for-size(desktop) {
		left: 390px;
	}
}

//side-nav right (content page)

.logo-small-content {
	display: none;
	@include for-size(tablet-landscape) {
		display: flex;
		height: 90px;
		width: 90px;
		position: absolute;
		right: 10px;
		bottom: 60px;
	}
	@include for-size(desktop) {
		right: 5vw;
	}
	@include for-size(xlg-desktop) {
		position: fixed;
		bottom: 45vh;
		right: 1vw;
	}
}

.right-links-content-page {
	display: block;
	flex-direction: row;
	@include for-size(desktop) {
		display: flex;
		margin-bottom: 60px;
		margin-left: 50px;
	}
	@include for-size(xlg-desktop) {
		position: fixed;
		bottom: 60vh;
		left: -5px;
		transform: rotate(-90deg);
	}
}

.social-links-content-page {
	height: 35px;
	width: 35px;
	padding-right: 8px;
	fill: $primary-color;
	@include for-size(tablet-landscape) {
		padding: 5px 5px 5px 0;
		height: 40px;
		width: 40px;
	}
	@include for-size(xlg-landscape) {
		padding: 10px 10px 0;
		height: 60px;
		width: 60px;
	}
}

//side-nav left (content pages)
.left-links-content {
	margin-top: 80px;
}

@media (min-width: 992px) {
	.left-links-content {
		margin-bottom: 5px;
		margin-left: 50px;
	}
}

@media (min-width: 1600px) {
	.left-links-content {
		position: fixed;
		transform: rotate(-90deg);
		bottom: 36vh;
		left: -87px;
		height: 50px;
		width: 300px;
	}
}

.left-links-content span {
	padding: 0;
	font-size: 16px;
	color: $primary-color;
	@include for-size(tablet-landscape) {
		font-size: 22px;
		padding: 8px 0 8px 0px;
	}
}

#copyrightContent {
	fill: $primary-color;
}

#copyrightSVGContent {
	height: 23px;
	width: 20px;
	padding-right: 5px;
	padding-top: 0;
	@include for-size(tablet-landscape) {
		height: 40px;
		width: 40px;
		padding-right: 8px;
	}
}

// ==========================================================================
// Projects Section Styles
// ==========================================================================

//looped videos for project examples
.gif {
	border: 1px solid white;
	border-radius: 5px;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.872), #000);
	width: 350px;
	// max-width: 100%;
	height: 300px;
	@include for-size(tablet-landscape) {
		width: 500px;
	}
}

.gif-container {
	position: relative;
	@include for-size(desktop) {
		padding-right: 80px;
		padding-top: 30px;
	}
}

.sub-heading,
.project-copy,
#drumSpaceLogo,
#dynamicLogo,
#circlesLogo,
#fsc2020logo {
	position: relative;
	z-index: 1;
}

/* ============================================= */
/*          AwesomeCo                            */
/* ============================================= */

#logo {
	height: 150px;
	width: 350px;
}

#logoFill {
	fill: $awesomeco-logo-main-fill;
	stroke: $awesomeco-logo-main-fill;
}

.logo-stroke {
	stroke: $awesomeco-logo-main-path-color;
	stroke-width: 1;
	fill: $awesomeco-logo-main-path-color;
}

#awesomeCoCopy,
#drumSpaceCopy,
#dataAnalyticsCopy,
#styleGuideCopy,
#fsc2020Copy {
	position: relative;
	color: $white;
	@include for-size(desktop) {
		max-width: 525px;
	}
}

/* ============================================= */
/*          drumspace logo                       */
/* ============================================= */

#drumSpaceLogo {
	height: 200px;
	width: 350px;
}

/* ============================================= */
/*          dynamicAnalytics logo                */
/* ============================================= */

#dynamicLogo {
	height: 125px;
	width: 275px;
	margin-bottom: 40px;
	margin-top: 50px;
}

/* ============================================= */
/*          circles logo                         */
/* ============================================= */

#circlesLogo {
	margin-top: 20px;
	height: 150px;
	padding-left: 20px;
}

/* ============================================= */
/*          FSC2020 logo                         */
/* ============================================= */

#fsc2020logo {
	width: 80%;
	margin-top: 20px;
	@include for-size(desktop) {
		width: 100%;
	}
	@include for-size(desktop) {
		width: 60%;
	}
}

.circleRed {
	fill: #ce3427;
}

/* ============================================= */
/*         overlay                               */
/* ============================================= */

.overlay {
	position: absolute;
	bottom: 100%;
	right: 0;
	background-color: $black-lighter;
	overflow: hidden;
	width: 100%;
	height: 0%;
	transition: 0.6s ease;

	@include for-size(desktop) {
		left: -30px;
		top: 34px;
		margin-left: 5%;
		width: 505px;
	}
}

.hov:hover .overlay {
	bottom: 0;
	height: 100%;
	margin-bottom: 5px;

	@include for-size(desktop) {
		height: 300px;
	}
}


/* ============================================= */
/*         overlay link styles                   */
/* ============================================= */

.linkHR {
	border: 0;
	clear: both;
	display: block;
	height: 25px;
	width: 2px;
	margin: 9px 10px;
}

.link-container {
	position: absolute;
	display: flex;
	flex-direction: row;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

/* ============================================= */
/*         Work Section styles                   */
/* ============================================= */

.work-container {
	margin-top: 20px;
}
.work-one {
	margin-top: 80px;
	@include for-size(desktop) {
		margin-top: 50px;
	}
}

.work-projects {
	margin-top: 60px;
}

.work-one {
	@include for-size(desktop) {
		background: center / contain no-repeat url('../assets/hsf-work-bg.png');
	}
}

.work-two {
	@include for-size(desktop) {
		background: center / contain no-repeat url('../assets/four-hire-bg.png');
	}
}

.work-three {
	@include for-size(desktop) {
		background: center / contain no-repeat url('../assets/writer-access-bg.png');
		background-size: auto 328px;
	}
	@include for-size(lg-desktop) {
		background-size: auto 412px;
	}
}

.work-four {
	@include for-size(desktop) {
		background: center / contain no-repeat url('../assets/library-bg.png');
	}
}

#HSF,
#fourHire,
#writerAccess,
#carribeanGen {
	width: 100%;
	@include for-size(desktop) {
		width: 320px;
		padding-left: 50px;
		height: 295px;
	}

	@include for-size(desktop) {
		width: 320px;
		height: 295px;
	}
	@include for-size(lg-desktop) {
		width: 382px;
		height: 370px;
	}
	@include for-size(lg-desktop-wide) {
		width: 500px;
		padding-left: 120px;
		height: 370px;
	}
	@include for-size(xlg-desktop) {
		width: 500px;
		padding-left: 120px;
		height: 370px;
	}
}

.hsf-logo {
	width: 150px;
	margin-bottom: 10px;
	margin-top: 10px;
	@include for-size(desktop) {
		width: 105px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	@include for-size(lg-desktop) {
		width: 130px;
		margin-bottom: 15px;
		margin-top: 15px;
	}
}

.four-hire-logo {
	width: 200px;
	margin-bottom: 10px;
	margin-top: 20px;
	@include for-size(desktop) {
		width: 130px;
		margin-bottom: 10px;
		margin-top: 20px;
	}
	@include for-size(lg-desktop) {
		width: 200px;
		margin-bottom: 30px;
	}
}

.writer-access-logo {
	width: 200px;
	margin-bottom: 10px;
	margin-top: 10px;
	@include for-size(desktop) {
		width: 270px;
		margin-bottom: 30px;
		margin-top: 50px;
	}
	@include for-size(lg-desktop) {
		width: 300px;
		margin-bottom: 30px;
	}
}

.library-logo {
	width: 200px;
	margin-bottom: 10px;
	margin-top: 10px;
	@include for-size(desktop) {
		width: 270px;
		margin-bottom: 10px;
		margin-top: 30px;
	}
	@include for-size(lg-desktop) {
		width: 300px;
		margin-bottom: 15px;
	}
}

#hsfContainer {
	margin: 0;
	@include for-size(tablet-landscape) {
		margin: inherit;
	}
}


.hsf-hero-banner {
	background: center / cover no-repeat url('../assets/hero-main-img-min.jpg');
	width: 100%;
	height: 740px;
	margin: 0;
	position: relative;
	border-bottom: 8px solid $primary-color;
	@include for-size(tablet-landscape) {
		height: 80vh;
	}
	@include for-size(desktop) {
		background-position: left -300px top -30px;
		background-size: 135%;
	}
	@include for-size(lg-desktop) {
		background-position: left -97px top -4px;
    	background-size: 110%;
		height: 90vh;
	}
	@include for-size(xlg-desktop) {
		background-position: left -97px top -4px;
    	background-size: 110%;
		height: 81vh;
	}
}

.hsf-site-img {
	width: 100%;
	margin-top: -250px;
	margin-bottom: -250px;
	@include for-size(xlg-desktop) {
		margin-top: -500px;
		margin-bottom: -400px;
	}
}

.work-hero-content {
	position: absolute;
	bottom: -8px;
	right: 0;
	height: 55%;
	background: $white;
	color: $mine-shaft;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-top: 8px solid $primary-color;
	border-left: 8px solid $primary-color;
	width: 90%;
	@include for-size(tablet-portrait) {
		width: 500px;
	}
	@include for-size(desktop) {
		height: 430px;
		padding: 50px;
		width: 420px;
	}
	@include for-size(xlg-desktop) {
		width: 550px;
		height: 650px;
		padding: 50px 100px 50px 50px;
	}
}

.hsf-hero-content {
	@include for-size(xlg-desktop) {
		padding: 50px 90px 50px 50px;
	}
}

.hsf-hero-title {
	width: 100%;
	font-size: 2rem;
	line-height: 34px;
	@include for-size(xlg-desktop) {
		font-size: 4rem;
		line-height: 64px;
	}
}
.hsf-hero-copy {
	font-size: 1rem;
	margin-top: 30px;
	@include for-size(xlg-desktop) {
		font-size: 1.3rem;
	}
}

.work-copy {
	@include for-size(tablet-landscape) {
		font-size: 1.3rem;
		margin-top: 30px;
	}
	@include for-size(xlg-desktop) {
		font-size: 1.3rem;
		margin-top: 30px;
	}
}

.work-info {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.info-left,
.info-right {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 10px;
}

.info-heading,
.info-item {
	font-size: 1rem;
	@include for-size(xlg-desktop) {
		font-size: 1.2rem;
	}
}

.info-heading {
	margin-right: auto;
	width: 100%;
	margin-bottom: 10px;
	@include for-size(xlg-desktop) {
		margin-top: 20px;
	}
}
.info-item {
	margin-left: 20px;
	margin-right: auto;
	width: 100%;
}

#hsf-site-img-wrapper {
	margin-top: 40px;
	background: $mine-shaft;
}

.hsf-section-one,
.hsf-section-three,
.four-hire-section-one,
.four-hire-section-three {
	background: $white;
}

.hsf-section-three {
	padding-top: 250px;
    padding-bottom: 0px;
	border-top: 8px solid $primary-color;
	@include for-size(desktop) {
		padding-top: 350px;
	}
	@include for-size(xlg-desktop) {
		padding-top: 500px;
		padding-bottom: 120px;
	}
}
.hsf-section-two,
.four-hire-section-two {
	background: $concrete;
	border-bottom: 8px solid $primary-color;
	height: 500px;
	@include for-size(tablet-landscape) {
		height: 700px;
	}
	@include for-size(xlg-desktop) {
		height: 1000px;
	}
}
.section-content {
	display: flex;
    flex-direction: column;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
	justify-content: center;
}

.content-one,
.content-two,
.content-three {
	width: 100%;
	@include for-size(tablet-landscape) {
		margin: 0 auto;
	}
}

.content-one {
	@include for-size(tablet-landscape) {
		width: 300px;
	}
	@include for-size(tablet-landscape) {
		width: 400px;
		margin-top: 70px;
		margin-bottom: 70px;
	}
	@include for-size(xlg-desktop) {
		width: 420px;
	}
}

.content-two {
	@include for-size(tablet-landscape) {
		width: 450px;
	}
	@include for-size(xlg-desktop) {
		width: 575px;
		margin-top: 70px;
	}
}

.content-three {
	@include for-size(tablet-landscape) {
		width: 650px;
	}
	@include for-size(lg-desktop) {
		width: 1000px;
	}
}

.content-one-wrapper{
	display: flex;
    flex-direction: column;
	@include for-size(tablet-landscape) {
		flex-direction: row;
		
	}
}

.hsf-logo-abrev {
	width: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
	@include for-size(desktop) {
		margin-top: 0px;
		width: 120px;
	} 
	@include for-size(xlg-desktop) {
		width: 180px;
	} 
}
.hsf-logo-full {
	width: 280px;
	@include for-size(desktop) {
		width: 100%;
	} 
	@include for-size(xlg-desktop) {
		width: 475px;
	} 
	
}

.hsf-logos-container {
	@include for-size(tablet-landscape) {
		padding-left: 40px;
	} 
	@include for-size(desktop) {
		padding-left: 0px;
		width: 400px;
	} 
}

.work-title {
	width: 100%;
	font-size: 1.8rem;
	margin-right: auto;
	line-height: 30px;
	@include for-size(tablet-landscape) {
		font-size: 4rem;
		line-height: 56px;
	}
	@include for-size(xlg-desktop) {
		font-size: 5rem;
		line-height: 76px;
	}
}

.work-title-wrapper {
	display: flex;
	flex-direction: column;
	border-left: 8px solid $primary-color;
	padding-left: 10px;
	margin-bottom: 20px;
	@include for-size(xlg-desktop) {
		margin-bottom: 45px;
		border-left: 10px solid #c9ad75;
		padding-left: 20px;
	}
}

.typography-spacer {
	padding-left: 10px;
	@include for-size(desktop) {
		padding-left: 240px;
	}
}

.typography-spacer-two {
	padding-left: 10px;
	@include for-size(desktop) {
		padding-left: 264px;
	}
}

.light-underline {
	border-bottom: 1px solid lightgray;
	margin-bottom: 5px;
}
.typography-body,
.typography-small {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.hsf-section-four {
	display: flex;
	flex-direction: row;
	position: relative;
	height: 570px;
	border-top: 8px solid $primary-color;
}

.typography-xlg {
	background-color: $mine-shaft;
	width: 45vw;
	@include for-size(tablet-landscape) {
		width: 55vw;
	}
	@include for-size(desktop) {
		width: 55vw;
	}
}

.typography-xlg-svg{
	height: 100%;
	width: 100%;
	padding-left: 20px;
	@include for-size(tablet-landscape) {
		padding: 40px;
	}
	@include for-size(desktop) {
		padding: 40px 80px;
	}
	@include for-size(lg-desktop) {
		padding: 40px 40px 40px 260px;
	}
	@include for-size(xlg-desktop) {
		padding: 40px 40px 40px 300px;
	}
}

.typography-xlg-svg-path{
	fill: $white;
}

.typography-small-wrapper {
	position: absolute;
	bottom: -1px;
	right: 0;
	width: 50vw;
	height: 571px;
	background-color: $white;
	padding: 0 10px;
	border-left: 8px solid $primary-color;
	border-bottom: 8px solid $primary-color;
	@include for-size(tablet-landscape) {
		width: 45vw;
	}
	@include for-size(xlg-desktop) {
		border-bottom: none;
	}
}

.typography-small {
	color: $mine-shaft;
}

.typography-small-copy {
	display: flex;
	padding-left: 0px;
	padding-bottom: 12px;
	width: 100%;
	font-size: .9rem;
	@include for-size(tablet-landscape) {
		width: 290px;
		font-size: 1rem;
		padding-left: 60px;
	}
}

.info-heading-heebo {
	@include for-size(tablet-landscape) {
		padding-left: 60px;
	}
}


/* ============================================= */
/*         FourHire styles                       */
/* ============================================= */

.four-hire-hero-banner {
	background: no-repeat url('../assets/four-hire-hero-img.jpg');
	background-position: center top -100px;
	background-size: 900px 900px;
	width: 100%;
	height: 740px;
	margin: 0;
	position: relative;
	border-bottom: 8px solid $primary-color;
	@include for-size(tablet-landscape) {
		background-size: 1000px 1000px;
		height: 94vh;
	}
	@include for-size(desktop) {
		background-position: left -280px top -150px;
		background-size: 130%;
	}
	@include for-size(lg-desktop) {
		background-position: left -97px top -100px;
    	background-size: 110%;
	}
	@include for-size(lg-desktop-wide) {
		background-position: left -97px top -200px;
    	background-size: 110%;
	}
	@include for-size(xlg-desktop) {
		background-position: cover;
    	background-size: 100%;
		height: 90vh;
	}
}

.four-hire-gradients-container {
	margin-top: 20px;
	margin-bottom: 20px;
	@include for-size(tablet-landscape) {
		padding-left: 40px;
	} 
	@include for-size(desktop) {
		padding-left: 0px;
		width: 400px;
	} 
}

.four-hire-logo-style-guide {
	width: 200px;
	margin-bottom: 10px;
	margin-top: 20px;
	@include for-size(tablet-landscape) {
		width: 300px;
		margin-bottom: 10px;
		margin-top: 20px;
	}
	@include for-size(desktop) {
		width: 300px;
		margin-bottom: 40px;
	}
	@include for-size(lg-desktop) {
		margin-top: 40px;
	}
}

.four-hire-gradient {
	width: 280px;
    margin-bottom: 0px;
    margin-top: 15px;
	@include for-size(tablet-landscape) {
		width: 300px;
		height: 100px;
	}
	@include for-size(xlg-desktop) {
		width: 450px;
	} 
}


.four-hire-imgs-container {
	min-height: 400px;
}

.four-hire-home-img {
	width: 100%;
	margin-top: -250px;
	@include for-size(xlg-desktop) {
		margin-top: -500px;
	}
}

.four-hire-content-img {
	width: 100%;
	margin-top: 100px;
	margin-bottom: -250px;
	@include for-size(desktop) {
		margin-top: 150px;
	}
	@include for-size(xlg-desktop) {
		margin-top: 200px;
		margin-bottom: -400px;
	}
}

.four-hire-section-three {
	padding-top: 210px;
    padding-bottom: 0px;
	border-top: 8px solid $primary-color;
	@include for-size(tablet-landscape) {
		padding-top: 300px;
		padding-bottom: 0px;
	}
	@include for-size(xlg-desktop) {
		padding-top: 500px;
		padding-bottom: 120px;
	}
}

/* ============================================= */
/*         Contact styles                        */
/* ============================================= */

.contact-container {
	display: flex;
	flex-direction: column;
	@include for-size(tablet-landscape) {
		flex-direction: row;
	}
}

.contact-title {
	display: flex;
}

.contact-title-wrapper {
	width: 100%;
	margin: 0 auto;
	@include for-size(tablet-landscape) {
		width: 400px;
	}
}
.contact-title-svg {
	width: 100%;
}

.contact-header,
.contact-footer {
	@include for-size(tablet-landscape) {
		height: 200px;
		width: 100%;
		background-size: 100% !important;
		background-position: center top 50px !important;
	}
}

.contact-header {
	@include for-size(tablet-landscape) {
		background: no-repeat url('../assets/contact-header.png');
	}
}

.contact-footer {
	@include for-size(tablet-landscape) {
		background: no-repeat url('../assets/contact-footer.png');
	}
}


.contact-copy {
	color: $white;
	font-family: $font-primary-bold;
	font-size: 3.5rem;
	line-height: 70px;
	margin-top: 60px;
	margin-bottom: 50px;
	
	
	@include for-size(desktop) {
		font-size: 5rem;
	}
	@include for-size(lg-desktop) {
		font-size: 6rem;
		line-height: 92px;
	}
}
.slide {
	animation: 1s forwards slidein;
	opacity: 0;
}
.slide:nth-child(1) { animation-delay: 1s }
.slide:nth-child(2) { animation-delay: 3s }
.slide:nth-child(3) { animation-delay: 4s }
.slide:nth-child(4) { animation-delay: 5s }


.contact-body {
	display: flex;
	width: 100%;
	flex-shrink: 0;
	flex-grow: 1;
}

#form1 {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contact-form {
	@include for-size(tablet-landscape) {
		width: 268px;
		margin-left: auto;
		margin-top: 50px;
	}
	@include for-size(desktop) {
		width: 375px;
		margin-left: auto;
		margin-top: auto;
		margin-bottom: 20px;
	}
	@include for-size(lg-desktop) {
		width: 500px;
	}
	@include for-size(xlg-desktop) {
		width: 600px;
	}
}

input {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 2px solid $primary-color;
}

textarea {
	outline: 0;
	background: transparent;
	border: none;
	border-bottom: 2px solid $primary-color;
	height: 20px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }

  #subject:hover {
	border: 2px solid $primary-color;
	height: 100px;
	max-height: 10em;
	resize: both;
  }


#subject {
	height: 20px;
}


#name,
#email {
	margin-bottom: 20px;
	height: 45px;
}


.fade {
	animation: 1s 6s forwards fade;
	opacity: 0;
}

label,
::placeholder,
input, 
select, 
textarea {
	color: $primary-color; 
	font-family: $font-primary-reg;
}

label,
::placeholder,
input, 
select, 
textarea {
	font-size: 2rem;
}


/* ============================================= */
/*         Footer styles                         */
/* ============================================= */

.footer {
	background-color: $primary-color;
	border-top: 1px solid #e7e7e7;
	text-align: center;
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 10px;
	width: 100%;
	z-index: 100;
}

.phantom {
	display: block;
	padding: 10px;
	height: 10px;
	width: 100%;
}
