@import '~bootstrap/scss/bootstrap';

//font stacks
@font-face {
	font-family: 'DolceVitaLight';
	src: url('../fonts/dolce_vita/Dolce-Vita-Light.woff') format('woff'),
		url('../fonts/dolce_vita/Dolce-Vita-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'DolceVita';
	src: url('../fonts/dolce_vita/Dolce-Vita.woff') format('woff'),
		url('../fonts/dolce_vita/Dolce-Vita.ttf') format('truetype');
}

@font-face {
	font-family: 'DolceVitaBold';
	src: url('../fonts/dolce_vita/Dolce-Vita-Heavy-Bold.woff') format('woff'),
		url('../fonts/dolce_vita/Dolce-Vita-Heavy-Bold.ttf') format('truetype');
}

// variables

$primary-color: #c9ad75;

//fonts

$font-primary-reg: 'DolceVita', sans-serif;
$font-primary-thin: 'DolceVitaLight', sans-serif;
$font-primary-bold: 'DolceVitaBold', sans-serif;

//media queries

@mixin for-size($size) {
	@if $size == phone-only {
		@media (max-width: 575px) {
			@content;
		}
	} @else if $size == tablet-portrait {
		@media (min-width: 576px) {
			@content;
		}
	} @else if $size == tablet-landscape {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $size == desktop {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $size == lg-desktop {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $size == xlg-desktop {
		@media (min-width: 1600px) {
			@content;
		}
	} @else if $size == xxlg-desktop {
		@media (min-width: 2200px) {
			@content;
		}
	}
}

//animations

#hero-bg {
	stroke-dasharray: 200px;
}

//base

#root,
html {
	background-color: black;
}

.left-links {
	display: flex;
	flex-direction: row;
	position: absolute;
}

//side-nav left
@media (max-width: 767px) {
	.left-links {
		top: 590px;
		left: 50px;
	}
}

@media (min-width: 768px) {
	.left-links {
		transform: rotate(-90deg);
		top: 74vh;
		right: -96px;
		height: 50px;
		width: 300px;
	}
}

@media (min-width: 1600px) {
	.left-links {
		top: 40vh;
	}
}

.left-links span {
	padding: 0;
	font-size: 16px;
	color: $primary-color;
	font-family: $font-primary-reg;
	@include for-size(tablet-landscape) {
		font-size: 22px;
		padding: 8px 0 8px 0px;
	}
}

#copyrightSVG {
	height: 23px;
	width: 20px;
	padding-right: 5px;
	@include for-size(tablet-landscape) {
		height: 50px;
		width: 50px;
		padding-right: 8px;
	}
}

#copyright {
	fill: $primary-color;
}

//side-nav right

.logo-small {
	display: none;
	@include for-size(tablet-landscape) {
		display: flex;
		height: 90px;
		width: 90px;
		position: absolute;
		bottom: 5%;
		right: 10px;
	}
	@include for-size(xlg-desktop) {
		top: 54vh;
		bottom: 0;
	}
}

.right-links {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 510px;
	left: 10px;
	transform: rotate(-90deg);
	@include for-size(tablet-landscape) {
		top: 85%;
		left: -20px;
	}
	@include for-size(xlg-desktop) {
		top: 45%;
		left: -40px;
	}
}

.social-links {
	height: 35px;
	width: 35px;
	padding-right: 8px;
	fill: $primary-color;
	@include for-size(tablet-landscape) {
		padding: 10px 10px 0;
		height: 60px;
		width: 60px;
	}
}

.cls-1 {
	fill: $primary-color;
	stroke-width: 0.75px;
}
.cls-1,
.cls-2 {
	stroke: $primary-color;
	stroke-linejoin: round;
}
.cls-2 {
	fill: none;
}

//navigation

#navigation-logo,
#navigation-link {
	color: $primary-color;
}

#navigation-bar {
	background-color: black;
	border-bottom: 2px solid $primary-color;
}

.navbar-light .navbar-toggler-icon {
	background-image: url('../assets/list.svg') !important;
}
.nav-logo {
	width: 200px;
	height: 40px;
	@include for-size(lg-desktop) {
		width: 275px;
		height: 60px;
	}
}
// home content

.home-bg-img {
	background-image: url('../assets/bg-img2.svg');
	background-color: #000000;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover !important;

	@include for-size(tablet-landscape) {
		margin-top: 14vh;
	}

	@include for-size(lg-desktop) {
		margin-top: 70px;
	}
	@include for-size(xlg-desktop) {
		margin-top: 200px;
	}
	@include for-size(xlg-desktop) {
		margin-top: 150px;
		background-size: 100% 768px;
	}
}

//home links
.hero-link-container {
	display: flex;
	flex-direction: column;
	height: 550px;
	@include for-size(tablet-landscape) {
		display: flex;
		flex-direction: column;
		height: 40vh;
	}
	@include for-size(lg-desktop) {
		height: 50vh;
	}
	@include for-size(xxlg-desktop) {
		height: 60vh;
		margin-left: 40vw !important;
	}
}

.hero-link {
	font-size: 4.5rem;
	text-decoration: none;
	font-family: $font-primary-reg;
	line-height: 50px;

	@include for-size(tablet-landscape) {
		font-size: 7rem;
		line-height: 82px;
		display: flex;
	}

	@include for-size(desktop) {
		font-size: 8.2rem;
		line-height: 90px;
	}

	@include for-size(lg-desktop) {
		font-size: 10rem;
		line-height: 112px;
	}
	@include for-size(xxlg-desktop) {
		font-size: 13rem;
		line-height: 145px;
	}
}

.hero-link:first-child {
	margin-top: 170px;
	letter-spacing: -1.5px;
	margin-right: 10px;
	@include for-size(tablet-landscape) {
		margin-right: 315px;
		margin-top: 100px;
	}

	@include for-size(desktop) {
		padding-left: 126px;
		margin-top: 100px;
		letter-spacing: -1.5px;
	}

	@include for-size(lg-desktop) {
		margin-right: inherit;
		margin-top: 100px;
		letter-spacing: -1.5px;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 65px;
		margin-top: 85px;
		letter-spacing: -9.5px;
	}
}

.hero-link:nth-child(2) {
	padding-right: 30px;
	color: yellow;
	letter-spacing: -3px;
	&:hover {
		text-decoration: none;
		color: rgb(245, 245, 155);
	}
	@include for-size(desktop) {
		padding-left: 122px;
		letter-spacing: -2.8px;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 58px;
		letter-spacing: -14px;
	}
}
.hero-link:nth-child(3) {
	padding-right: 25px;
	letter-spacing: -0.85px;
	@include for-size(desktop) {
		padding-left: 121px;
		letter-spacing: 0;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 57px;
		letter-spacing: -6px;
	}
}

.hero-link:last-child {
	padding-right: 43px;
	letter-spacing: -8.5px;
	@include for-size(desktop) {
		padding-left: 33px;
		letter-spacing: -9.5px;
	}
	@include for-size(lg-desktop) {
		padding-left: 25px;
		letter-spacing: -13.5px;
	}
	@include for-size(xxlg-desktop) {
		padding-left: 0px;
		letter-spacing: -20.5px;
	}
}

.hero-link:first-child,
.hero-link:nth-child(3),
.hero-link:last-child {
	color: white;
}

.hero-link:first-child:hover,
.hero-link:nth-child(2):hover,
.hero-link:nth-child(3):hover,
.hero-link:last-child:hover {
	&:hover {
		text-decoration: none;
		color: $primary-color;
	}
}

//footer styles

.footer {
	background-color: $primary-color;
	border-top: 1px solid #e7e7e7;
	text-align: center;
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 10px;
	width: 100%;
}

.phantom {
	display: block;
	padding: 10px;
	height: 10px;
	width: 100%;
}
