// ==========================================================================
// Main styles
// ==========================================================================


/* ============================================= */
/*              Base                             */
/* ============================================= */


body,html {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

//main wrapper
#wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
}


