
body,
.bg-blue{
    background-color: rgba(0, 114, 167, 0.681);
}

.columnFont{
    color: rgb(232, 230, 230);
}

#registrationBtns {
    padding-top: .5rem; font-size: 22px;
}

#calloutBtn{
    width: 100%; height:  80px; font-size: 20px;
}

.exp {
    margin-top: 1rem;
    @media (min-width : 400px) {
        margin-top: 0;
    }
}

.submit {
    width: 100%;
    height: 60px;
}

#logo {
    max-width: 600px;
}


